.direita{
    float: right;
}

.esquerda{
    float: left;
}

.estilo img{
    margin: 5%;
    width: 25%;
    height: auto;
    border-radius: 50px;
}

.estilo p{
    width: 50%;
    font-family: "Segoe Print";
    font-size: 25px;
    margin: 5%;
    font-weight: bold;
}

#fundo{
    width: 80%;
    opacity: 0.5;
    position: absolute;
    right: 10%;
    top: 0px;
    z-index: -1;
}